<!DOCTYPE html>
<html>
    <head>
        <script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='handler.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"></link>
    </head>
    <body>
        <form>
            <fieldset>
                <div>
                    <label for="theUser">Username</label>
                    <input id="theUser" type="text"/>
                    <span id="warning"></span>
                </div>
                <div>
                    <p>
                    Type the <strong>following</strong> bold sentence ended with <strong>ENTER</strong> key. (case <strong>sensitive</strong>)
                    </p>
                    <p>
                    Try to type without backspace. We'll clear the edit box and resample if an error input detected.
                    </p>
                    <h1>
                        Where is the fox
                    </h1>
                </div>
                <div>
                    <input id="theText" type="text" />
                </div>
                <div>
                    <p id="info"></p>
                </div>
            </fieldset>
        </form>
    </body>
</html>
